.todoitem{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}
.todoitems-container{
    display: flex;

}
.todoitem-text{
    padding-left: 16px;
    color: #404040;
    font-size: 22px
}
.todo-cross{
    cursor: pointer;
    padding-right: 25px;
}
.line-through{
    text-decoration: line-through solid #ADADAD 3px;
}